<GridLayout class="sidedraw-header" rows="auto" columns="100 *">
    <Image row="0" column="0" src="~/images/icon.png" class="sidedrawer-header-image"></Image>
    <Label row="0" column="1" text="Ristorante Con Fusion" class="sidedrawer-header-brand" textWrap="true"></Label>
</GridLayout>
<StackLayout class="sidedrawer-content">
    <GridLayout columns="auto" class="sidedrawer-list-item" [nsRouterLink]="['/menu']" clearHistory="true">
        <Label col="1" text="Menu" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
</StackLayout>
