<GridLayout class="sidedraw-header" rows="auto" columns="100 *">
    <Image row="0" column="0" src="res://rcflogo" class="sidedrawer-header-image"></Image>
    <!-- res: takes to the resources folder and updates respective images -->
    <Label row="0" column="1" text="Ristorante Con Fusion" class="sidedrawer-header-brand" textWrap="true"></Label>
</GridLayout>
<StackLayout class="sidedrawer-content">
    <GridLayout rows="*" columns="50 *" class="sidedrawer-list-item" (tap)="displayLoginDialog()">
        <Label row="0" col="0" class="sidedrawer-list-item-text fa" [text]="'fa-sign-in' | fontIcon"></Label>
        <Label row="0" col="1" text="Login" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
    <GridLayout rows="*" columns="50 *" class="sidedrawer-list-item" [nsRouterLink]="['/home']" clearHistory="true">
        <Label row="0" col="0" class="sidedrawer-list-item-text fa" [text]="'fa-home' | fontIcon"></Label>
        <Label row="0" col="1" text="Home" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
    <GridLayout rows="*" columns="50 *" class="sidedrawer-list-item" [nsRouterLink]="['/menu']" clearHistory="true">
        <Label row="0" col="0" class="sidedrawer-list-item-text fa" [text]="'fa-info-circle' | fontIcon"></Label>
        <Label row="0" col="1" text="Menu" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
    <GridLayout rows="*" columns="50 *" class="sidedrawer-list-item" [nsRouterLink]="['/aboutus']" clearHistory="true">
        <Label row="0" col="0" class="sidedrawer-list-item-text fa" [text]="'fa-list' | fontIcon"></Label>
        <Label row="0" col="1" text="About Us" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
    <GridLayout rows="*" columns="50 *" class="sidedrawer-list-item" [nsRouterLink]="['/contact']" clearHistory="true">
        <Label row="0" col="0" class="sidedrawer-list-item-text fa" [text]="'fa-address-card' | fontIcon"></Label>
        <Label row="0" col="1" text="Contact" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
    <GridLayout rows="*" columns="50 *" class="sidedrawer-list-item" [nsRouterLink]="['/myfavorites']" clearHistory="true">
        <Label row="0" col="0" class="sidedrawer-list-item-text fa" [text]="'fa-heart' | fontIcon"></Label>
        <Label row="0" col="1" text="My Favorites" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
    <GridLayout columns="*, auto" class="sidedrawer-list-item" [class.selected]="isComponentSelected('/reservation')" (tap)="onNavItemTap('/reservation')">
        <Label col="0" [text]="'fa-cutlery' | fonticon" class="sidedrawer-list-item-text fa"></Label>
        <Label col="1" text="Reserve Table" class="sidedrawer-list-item-text"></Label>
    </GridLayout>
</StackLayout>
